{% extends 'home/base.html' %}

{% block header %}
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auto:auto_create' %}">Create a new auto</a>
      </li>
      
    {% endif %}

    <li class="nav-item">
      <a class="nav-link" href="{% url 'auto:make_list' %}">List of Makes</a>
    </li>  
{% endblock header %}


{% block main %}


{% if auto %}
    <div class="row">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Model : {{auto.name}}</h5>
              <p class="card-text">Make : {{auto.make.name}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price : {{auto.price}} </li>
              <li class="list-group-item">Mileage (mpg) : {{auto.mpg}}</li>
              <li class="list-group-item">Repair record 1978 : {{auto.rep78}}</li>
              <li class="list-group-item">Headroom (in.) : {{auto.headroom}}</li>
              <li class="list-group-item">Trunk (in.) : {{auto.trunk}}</li>
              <li class="list-group-item">Weight (lbs.) : {{auto.weight}}</li>
              <li class="list-group-item">Length (in.) : {{auto.length}}</li>
              <li class="list-group-item">Turn circle (ft.) : {{auto.turn}}</li>
              <li class="list-group-item">Displacement (cu. in.) : {{auto.displacement}}</li>
              <li class="list-group-item">Gear ratio : {{auto.gear_ratio}}</li>
              <li class="list-group-item">Car origin (foreign) : {{auto.foreign}}</li>
            </ul>
            <div class="card-body">
              
              {% if user.is_authenticated %}
                <a href="{% url 'auto:auto_update' auto.id %}" class="btn btn-outline-primary card-link">Update</a>
                <a href="{% url 'auto:auto_delete' auto.id %}" class="btn btn-outline-primary card-link">Delete</a>
              {% endif %}

              <a href="{% url 'auto:auto_list' %}" class="btn btn-outline-primary card-link">Back</a>
            </div>
        </div>
    </div>


{% else %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    <strong>Error!</strong> This auto does not exist in the database.
</div>

    
{% endif %}
    
    
{% endblock main %}
    